
<p id="notice"><%= notice %></p>
  
  
<h1>List of Reported Numbers</h1>

<%= form_tag reportnumbers_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %> 
  
  <%=link_to "Advanced Search", new_search_path %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Timestamp</th>
      <th>Phonenumber</th>
      <th>Location of the Caller</th>
      <th>Category</th>
      <th>Description</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @reportnumbers.each do |reportnumber| %>
      <tr>
        <td><%= reportnumber.date %></td>
        <td><%= reportnumber.timestamp %></td>
        <td><%= reportnumber.phonenumber %></td>
        <td><%= reportnumber.locationofnumber %></td>
        <td><%= reportnumber.category %></td>
        <td><%= reportnumber.description %></td>
        <td><%= link_to 'Show', reportnumber %></td>
        <td><%= link_to 'Edit', edit_reportnumber_path(reportnumber) %></td>
        <td><%= link_to 'Destroy', reportnumber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Report New Number: <%= link_to 'Home Page', new_reportnumber_path %>
