<h1> Custom Search </h1>
<%# <%= form_for @search, html: {class: "pure-form"} do |s| %> 

<%#<div class="field"> 
<%#    Ten digit <%= s.label :phonenumber %> <br /> 
<%#    <%= s.text_field :phonenumber %>
<%# </div> 

<%# <div class="field"> 
<%#    Optional: <%= s.label :location %> <br /> 
<%#    <%= s.text_field :location %>
<%# </div> 


<%# <div class="action"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>

<%# <%end%> 


<%= form_tag reportnumbers_path, :method => 'get' do %>
Search Phone Number:  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
  <% end %> 

<p>Back to Database: <%= link_to 'Back', reportnumbers_path %></p>

